/* MIT License */
/* Semantic UI React */
@import "https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css";
/* Other CSS */
.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #4c4c4c;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #4c4c4c;
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #aaaaff;
}


/* For VTC specific CSS */
.black.text {
  font-size: 1rem;
  color: #1e1e1e;
}

.large.text {
  font-size: 1.5rem;
}

.large.black.text {
  color: #1e1e1e;
}

.large.grey.text {
  color: #cccccc;
}
